.app-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.app-download h2 {
  font-size: max(3vw, 22px);
  font-weight: 500;
  text-align: center;
  width: max(50vw, 350px);
}

.app-download-platform {
  display: flex;
  justify-content: center;
  gap: max(2vw, 10px);
}

.app-download-platform img {
  width: max(3vw, 120px);
  max-width: 180px;
  transition: 0.2s;
  cursor: pointer;
}

.app-download-platform img:hover {
  transform: scale(1.05);
}