.header {
  margin: 30px auto;
  height: 34vw;
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.459)), url('../../assets/food-header.jpg') no-repeat;
  background-size: cover;
  border-radius: 18px;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50%;
  gap: 20px;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1s ease-in;
}

.header-contents h2 {
  color: white;
  font-size: max(4.5vw, 20px);
  font-weight: 500;
}

.header-contents p {
  color: rgb(226, 226, 226);
  font-size: max(1vw, 10px);
}

.header-contents button {
  padding: 1vw 2.3vw;
  background: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  border: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
}

.header-contents button:hover {
  background: #f5fff2;
}

@media (max-width:1050px) {
  .header {
    height: 34vw;
  }

  .header-contents {
    max-width: 55%;
  }

  .header-contents p {
    max-width: 75%;
  }
}

@media (max-width:750px) {

  .header-contents {
    max-width: 65%;
  }

  .header {
    height: 40vw;
  }

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}