.food-item {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #00000025;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-img-cnt .food-image {
  width: 100%;
}

.food-item-img-cnt {
  position: relative;
}

.add-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: max(2vw, 35px);
  cursor: pointer;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  border-radius: 50px;
  padding: 5px;
}

.food-item-counter img {
  width: max(1.8vw, 28px);
  cursor: pointer;
}

.food-item-counter p {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.food-item-details {
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.food-item-details .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-item-details .wrap img {
  width: max(3vw, 50px);
}

.food-item-details .wrap h3 {
  font-weight: 600;
  font-size: max(1vw, 16px);
}

.food-item-details .description {
  font-size: max(1vw, 12px);
  color: rgb(107, 107, 107);
}

.food-item-details .price {
  font-size: max(2vw, 16px);
  color: #08e23e;
  font-weight: 600;
}